body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  body {
    width: 90%;
  }
}

.logo {
  display: flex;
  justify-content: center;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding-left: 0;
}

.recipe-list-item {
  flex-grow: 1;
  width: 25%;
  min-width: 250px;
  border-radius: 5px;
  background-color: #e7e7e7;
  list-style: none;
}

.recipe-list-item__picture {
  height: 200px;
  background-color: #c7bebe;
  border-radius: 5px 5px 0px 0px;
}

.recipe-list-item__content {
  padding: 1rem;
}

.recipe-list-item__cooking-time svg,
.recipe-list-item__cooking-time i {
  margin-right: 0.25rem;
}

.divFirstLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spanFirstLine {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}

.divSecondLine {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ulIngredients {
  width: 50%;
  padding-left: 0;
}

.liIngredient {
  list-style-type: none;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.spanDescription {
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 10;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  width: 50%;
}

#ingredients_dropdown,
#ingredients_dropdown_button {
  background-color: #3282f7;
}
#appliance_dropdown,
#appliance_dropdown_button {
  background-color: #68d9a4;
}
#ustensils_dropdown,
#ustensils_dropdown_button {
  background-color: #ed6454;
}

#appliance_dropdown_button,
#ustensils_dropdown_button,
#ingredients_dropdown_button {
  align-items: center;
  padding: 0px 1.2em;
  color: white;
  width: 170px;
  height: 69px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
}

#appliance_dropdown,
#ustensils_dropdown,
#ingredients_dropdown {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  z-index: 1;
  list-style: none;
  border-radius: 0 0 1rem 1rem;
}

#appliance_dropdown button,
#ustensils_dropdown button,
#ingredients_dropdown button {
  padding: 0.5rem;
  border: none;
  width: auto;
  overflow: visible;
  background: transparent;
  color: white;
}
